<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Web SCOREAPP</title>

	<link href="assets/frontend/score-app/static/css/idangerous.swiper.css" rel="stylesheet" type="text/css" />
	<link href="assets/frontend/score-app/static/css/style.css" rel="stylesheet" type="text/css" />

  </script>
	
</head>
<body>
	<header>
		<ul class="headtitle">
			<li class="title"><h3>Score App</h3></li>
			<li class="logo"><img src="assets/frontend/score-app/media/images/logo.png"><span>logo</span></li>
		</ul>
		<nav>
			<ul class="headnav">
				<li><a href="#/gamepage" data class="active"><h4>Gamepage</h4></a></li>
				<li><a href="#/rankingpage"><h4>Rankingpage</h4></a></li>
				<li><a href="#/schedulepage"><h4>Schedulepage</h4></a></li>
		    </ul>
		</nav>
	</header>
	<div class="contentcontainer">
	<article id="content" class="col">
		<section data-route="gamepage" id="gamepage" class="active">
			 	<section data-bind="game">	
			 		<!--<ul class="gameFilter">
		    			<li><a>newest</a></li>
		    			<li class="team"><a>team</a></li>
		    			<li><a>highest</a></li>
			    	</ul>-->
			    	<ul id ="back">
			 			<li><button class="btn btn-danger"><span>back</span></button></li>
			 		</ul> 
			    	<ul id="gametemplate">
			    		<div id="ajaxloader"><img src="assets/frontend/score-app/static/images/ajax-loader.gif"></div>		
			  		</ul>
			  		<ul id="updatescore">
			  			<li><input class="updateTeam1Score" type="number" placeholder="update team 1 score"></li>
			  			<li><input class="updateTeam2Score" type="number" placeholder="update team 2 score"></li>
			  			<button class="updateTeamScore btn btn-success"><span>update</span></button>
			  		</ul>
			    </section>
		</section>
		<section data-route="rankingpage" id="rankingpage">
			 	<section data-bind="ranking"> 
			    	<ul id="rankingtemplate">
			    		<div id="ajaxloader"><img src="assets/frontend/score-app/static/images/ajax-loader.gif"></div>    		
			  		</ul>
			    </section>
		</section>
		<section data-route="schedulepage" id="schedulepage" >
			 	<section data-bind="schedule"> 
			    	<ul id="scheduletemplate">
			    		<div id="ajaxloader"><img src="assets/frontend/score-app/static/images/ajax-loader.gif"></div>
			    	</ul>
			    </section>
		</section>
	</article>
	</div>
	<!-- Libs -->
	<script src="assets/frontend/score-app/static/js/lib/routie.min.js"></script>

	<script src="assets/frontend/score-app/static/js/lib/ready.min.js" type="text/javascript"></script>
	
	<script src="assets/frontend/score-app/static/js/lib/qwery.min.js" type="text/javascript"></script>

	<!-- mustache -->
	<script src="assets/frontend/score-app/static/js/lib/mustache.js" type="text/javascript"></script>
	
	<!-- transparancy -->
	<script src="assets/frontend/score-app/static/js/lib/transparancy.min.js" type="text/javascript"></script>
	
	<!-- microajax -->
	<script src="assets/frontend/score-app/static/js/lib/microajax.minified.js"></script>
	
	<!-- zepto -->
	<script src="assets/frontend/score-app/static/js/lib/zepto.min.js"></script>
	
	<!-- quo -->
	<script src="assets/frontend/score-app/static/js/lib/quo.js"></script>

	<!-- Application -->
	<script src="assets/frontend/score-app/static/js/data.js"></script>

	<script src="assets/frontend/score-app/static/js/app.js"></script>
	
	
	
</body>
</html>