	<section class="block-container">
		<div class="block-container__item">
			<div class="block-container__item-container"><img src="../assets/images/placeholder-image-6.jpg"></div>
			<div class="block-description">
				<h1>{{title}}</h1>
				<p class="Label">{{paragraph}}</p>
			</div>
		</div>
	</section>