/*************************
		block-image
*************************/
//this has to be refactored
@-moz-document url-prefix() {
    .block-image {
   		margin:0 !important;
	}
}
.block-image {
	position:relative; float: left; -webkit-clip-path: polygon(0px 50%, 50% 99%, 100% 50%, 50% 0px);-moz-clip-path: polygon(0px 50%, 50% 99%, 100% 50%, 50% 0px);
	&:hover{
		.block-item{ display:block;}
	}
	img{
		width: 375px; height: 375px; position:relative;  margin: 0px auto;
		@include bp (med) {
			width: 250px; height: 250px;
		}
		@include bp (large) {
			width: 310px; height: 310px;
		}
		@include bp (wide) {
			width: 375px; height: 375px;
		}
		@include bp (phone) {
			width: 100%; height: 270px;
		}
	}
	@include bp (med) {
		margin: 0 20%;
		&.fourth,&.fifth,&.sixth{margin: 0 20%;}
	}
	@include bp (phone) {
		margin: auto;
		&.fourth,&.fifth,&.sixth{margin: auto;}
	}
	@include bp (min-med){
		&.fourth,&.fifth,&.sixth{margin: 0;}
	}
	@include bp (large){
		&.fourth{margin:  -150px 0 0 155px;}
		&.fifth{margin: -151px 0 0 0px;}
		&.sixth{margin: -313px 0 0 775px;}
	}
	@include bp (wide){
		&.fourth{margin: -175px 0 0 188px;}
		&.fifth{margin: -379px 563px;}
		&.sixth{margin: -378px 938px;}
	}

}