/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * FOOTER
*/

footer.menu-active{
	float:right; width: 70%;
}
.footer{
	float: left;height: 500px; width: 100%; background-color: lightgrey; color:grey;
	h1 { width: 100%; margin: 0 auto; color: white; } 
}


/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
