/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * GRID
*/
.container{
	position: relative;width: 100%; background-color: darkgrey; float: left; margin: 0 auto;
}
.block-list{
	margin:0 auto; width: 60%;
}
.block-item{
	height: 300px; width:300px; background: lightblue; color: grey;float:left; margin:1em;
}
.about{
	width: 100%; background-color: lightcoral; float:left;
}


/*------------------------------------*\
    $GRID
\*------------------------------------*/
