/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * GRID
*/
* {
	font-family: "helvetica","Arial";
}
html,body{
	width: 100%;
	margin: 0;
}
section.menu-active{
	@include bp (med){
		width: 70%; float:right;
	}
}
.container{
	position: relative; float: left; margin: 0 auto; width: 100%; background-color: darkgrey; 
	h1 { width: 100%; margin: 0 auto; color: white; }
}
.block-list{
	width: 100%; height: 600px; margin: 100px auto;
}
.block-item {
	display:none;float: left;margin: 10px auto; height: 100%; width:12.6666%; background: grey; color: white;/*border:1px solid #086db5;*/
	&:hover{background: crimson;}
	@include bp (med) {
		width: 33%;
	}
}
// .bla{
// top: 225px;
// /* margin-left: 75px; */
// left: -138px;
// }
// .blo{
// 	top:0px;
// left: -275px;
// }
// .bli{
// top: 225px;
// left: -415px;
// }
// .blu{
// top: -399px;
// left: 940px;
// }
// .ble{
// 	top: -175px;
// 	left: 800px;
// }

//this has to be refactored

.fourth{
	margin: -200px 187px;
}
.fifth{
	margin: -200px 563px;
}
.sixth{
	margin: -200px 938px;
}
.block-image {
	-webkit-clip-path: polygon(0px 187.5px, 187.5px 375px, 375px 187.5px, 187.5px 0px);
	img{width: 375px; height: 375px; position:relative; top: -10px; margin: 10px auto;}
	@include bp(med){ 
		&.fourth,&.fith,&.sixth{ margin: 10px auto;}
	}
	// &.even{top:200px;margin-left: 75px;}
	// &.odd{top:0px;margin-left: 75px;}
	position:relative; float: left;	
}
.block-text {
	float:left; display:none;
}
.block-list--tools-container{
	// margin:0 auto; width: 60%;
	margin:0 auto; width: 100%;	
}
.block-item--tools{
	height: 300px; width:300px; background: lightblue; color: grey;float:left; margin:2em;border:1px solid white;transform:rotate(45deg);background-image: url(../../images/placeholder-image.jpg);
}
.about{
	float:left; width: 100%; background-color: lightblue;
	h1 { width: 100%; margin: 0 auto; color: white; }
}
.bitches{
	width:100%; height: 50px; color: red; background-color:green;
}
.sletjes{
	color: beige;font-size: 72px;
}


/*------------------------------------*\
    $GRID
\*------------------------------------*/
