<section>
			<div class="container" id="assignments" name="assignments">
			    <h1>Your Node Express App</h1>
			    <div class="block-list">		    
			    	<div class="block-item" id="post-1">
			    		<img src="../assets/images/placeholder-image-2.jpg">
			    		<h1>opdracht1</h1>
			    		<p>tools</p>
			    	</div>
			    	<div class="block-item" id="post-2">
			    		<img src="../assets/images/placeholder-image-3.jpg">
			    		<h1>opdracht1</h1>
			    		<p>tools</p>
			    	</div>
			    	<div class="block-item" id="post-3">
			    		<img src="../assets/images/placeholder-image-4.jpg">
			    		<h1>opdracht1</h1>
			    		<p>tools</p>
			    	</div>
			    	<div class="block-item" id="post-4">
			    		<img src="../assets/images/placeholder-image-5.jpg">
			    		<h1>opdracht1</h1>
			    		<p>tools</p>
			    	</div>
			    	<div class="block-item" id="post-5">
			    		<img src="../assets/images/placeholder-image-6.jpg">
			    		<h1>opdracht1</h1>
			    		<p>tools</p>
			    	</div>
				</div>
			</div>
			<div class="about" id="about-jesse" name="about-jesse">
				<h1>Your Node Express App</h1>
				<div class="block-list--tools-container">
				    <div class="block-item--tools"><h1>opdracht1</h1><p>tools</p></div>
					<div class="block-item--tools"><h1>opdracht1</h1><p>tools</p></div>
					<div class="block-item--tools"><h1>opdracht1</h1><p>tools</p></div>
				</div>
			</div>
		</section>