	    <div class="block-list" ng-click="showView = !showView">
	    	<div class="cms-tool">
				<div class="cms-tool__add-item"></div>
				<div class="cms-tool__remove-item"></div>
			</div>
	    	<div ng-repeat="indexArticle in indexArticles" class="block-image {{indexArticle.mod_block}}" ng-click="showView = !showView">
    			<a href="/project/{{indexArticle.link}}/#projects">
    			 	<div class="pos"><img src="{{indexArticle.img}}"></div>
    				<div class="block-item" id="post-6">
			    		<div class="block-text">
				    		<h1>{{indexArticle.title}}</h1>
				    		<p>{{indexArticle.paragraph}}</p>				    		
			    		</div>
	    			</div>
	    		</a>
	    	</div>	
		</div>