/*************************
		block list
*************************/
.block-list{ width: 100%; height: 600px; 	
		.block-text{
			h1{line-height:115px;}
			// p{line-height: 55px;}
		}
	@include bp (med){/*width: 100%;*/
	 	margin: auto;
		.block-text {
			h1{ color: white;border-bottom: 1px solid white;line-height: 77px;}
			p{ width: 80%;margin: auto;color: white;font-size:12px;}
		}
	}
	@include bp (large){ /*width: 100%; width: 1135px;*/ width: 940px; margin: auto;
		.block-text {
			h1{ color: white;border-bottom: 1px solid white;line-height: 77px;}
			p{ width: 80%;margin: auto;color: white;font-size:12px;}
		}
	}
	@include bp (wide){ /*width: 85%;width: 1500px;*/ width: 1270px; margin:200px auto 0 auto;
		.block-text{
			h1{line-height:115px;}
			// p{line-height: 55px;}
		}
	}
	@include fadeInDown();
}
.block-list--tools-container{ margin:0 auto; width: 100%;}
.block-list__tools-item{
	div{ height:10px; margin: 10px; background: crimson;}
}
.block-list--tools-container__text{ float:left;width: 90%;color: #344E58;text-align: right; line-height:39px;
	@include bp (med) {
		width: 100%; text-align: center;
	}
}
.block-list--tools-container{ float: left; width: 50%;
	@include bp (med) {
		width: 72%;
	}
}
.block-list--articletools-container__text{@extend .block-list--tools-container__text; text-align:left; width: 63%;}
.block-list--articletools-container{
	@extend .block-list--tools-container; width: 70%;
}
