/*************************
		block-container
*************************/
.block-container{width:100%;position:relative; float: left; margin:auto;background-color: white;}
.block-container--visie{@extend .block-container; background-color: #527B8B;}
.block-container__item{width: 78%;margin: 61px auto;height: 415px; //350
	@include bp(med){
		width: 100%;
	}

}
.block-container__item-imagecontainer{
	float: right;width: 43%;
	@include bp(med){
		width:100%;
	}
}
.block-container__item-image{ float: left; margin: 10px;
	img{ width: 250px;}	
	.block-container__item__image{ width: 100%; border-radius: 4px;}
	@include bp(med) {
		width: 45%;
	}
	@include bp(phone) {
		width: 94%; 
	}
}

.block-container__item-image--reverse{
	@extend .block-container__item-image;
	float: right; border: none; /*max-width: 250px; margin-top: 50px;*/
	@include bp(med) {
		display:block;max-height: 250px;margin: 50px auto;float:none;
	}
}
.block-container__item-image--left{
	@extend .block-container__item-image--reverse;
	float:left; border:none; margin: auto;
	@include bp(med){
		float:none;
	}
	@include bp(phone){
		float: left;
	}
}
