/*************************
		block-container
*************************/
.block-container{width:100%;position:relative; float: left; margin:auto;background-color: white;}
.block-container__item{width: 78%;margin: 61px auto;height: 415px; //350
	@include bp(med){
		width: 100%;
	}
}
.block-container__item-thumb{
	max-width: 400px;min-width:320px;margin: auto;
	img{ max-width: 100%;}
}
.block-container__item-imagecontainer{
	position:relative; top:-500px;margin-bottom: -500px;
	float: right;width: 50%;
	@include bp(med){
		width:100%; margin: 0 1%; top:-50px;
	}
}
.block-container__item-image{ float: left; margin: 10px; width: 90%;
	img{ width: 250px;}	
	.block-container__item__image{ width: 87%; border-radius: 4px;@include bp(med){min-width: 320px; max-width: 500px; margin:0 5%;}}
	@include bp(med) {
		width: 100%;
	}
	@include bp(phone) {
		width: 94%; 
	}
}
.block-container__item-image--reverse{
	@extend .block-container__item-image;
	float: right; border: none; /*max-width: 250px; margin-top: 50px;*/
	@include bp(med) {
		display:block;max-height: 250px;margin: 50px auto;float:none;
	}
}
.block-container__item-image--left{
	@extend .block-container__item-image--reverse;
	float:left; border:none; margin: auto;
	@include bp(med){
		float:none;
	}
	@include bp(phone){
		float: left;
	}
}
.block-container--visie{@extend .block-container; background-color: #527B8B;}
.block-container--visie__item{@extend .block-container__item; width: 78%;}
.block-container--visie-description--right{
	h1 {color: white; border-bottom: 5px solid #344E58;}
	p{ color: white;}
	float:left; width: 45%;
	@include bp(med){width: 100%;}
}
.block-container--visie-description--reverse{
	h1 {color: white; border-bottom: 5px solid #344E58;}
	p{color: white;}
	float:right; width: 45%;
	@include bp(med){width: 100%;}
}
.block-container--visie__item-image--left{
	img{min-width: 250px;}
	float:left; width: 45%;	
	@include bp(med){width: 100%;}


}
.block-container--visie__item-image--reverse{
	img{min-width: 250px;}
	float:right;width:45%;
	@include bp(med){width: 100%;}
}
