/*************************
		block-item
*************************/
.block-item {
	display:none;position: absolute;top: 0;height: 60%;width: 375px;line-height: 30px;margin: 20% 0;text-align: center;background: #344E58;opacity: 0.80;	
	@include bp (med) {
		width: 100%;
	}
	@include bp (large) {
		width: 100%;
	}
}
.block-item--tools{
	float: left; height: 200px; width:45%; background: #C0D1D8; color: grey; margin:2em;border:1px solid white;
	@include bp (med){
		width: 85%;
	}
}
.block-item--tools__image{
	float: left; width: 25%;
	img{width: 100px;height:100px;}
}
.block-item--tools__text{
	width: 60%;float: right;background: #505759;height: 100%;
	h1{padding:10px;border-bottom:1px solid grey;}
	p{padding:10px;}
}