/*************************
		git-feed
*************************/
.git-activity{ height: 800px;width:  100%;float:left;position:relative;background: #527B8B; margin-top:100px;
	@include bp (med){ display:none; } 
}
 .git-feed{/* float: left; width: 100%; height: 900px;*/position: relative;top: -130px;
left: -240px;
	@include bp(med){
		display:none;transform: rotate(0deg);transform:rotate(0deg); height: 625px; margin-left:0;margin-top:25px;
	}	
}
.git-feed__description{	position:relative; z-index: 0; top: -100px; margin: 0px auto;line-height: 35px;height: 50px;
	text{ position: relative; top: 100px;}
	h3{
		margin:20px;color: white;
		@include bp(med){
			margin: 10px; color: white; display: inline-block; position: relative;	top: -655px;
		}
	}
	@include bp(med){
		transform: rotate(0deg);
	}
}
.git-feed__comment{
	margin: 110px 0 0 0;
	text{
		position: relative; top: 100px; left:0;
	}
}
.git-feed__legend{
	position: relative;color: white;left: 75%;margin-top: 50px;
	g{ display:block; width: 200px;}
	text{float: left;}
}
svg.removed{ /*transform: matrix(-1, 0, 0, 1, 0, 0);*/ position: relative;left:340px;transform:rotate(270deg);
	g{position:relative; z-index: 1; opacity: 0.75;}
	@include bp(med){
		width:40%;
	}
}
svg.added{ position:relative;/*transform: matrix(1, 0, 0, 1, 0, 0);*/left: 35px;transform:rotate(270deg);
	g{position:relative; z-index: 1;}
	@include bp(med){
		width: 40%;
	}
}
svg.legenda{position: relative;width: 25px;height: 25px;margin: 15px;top: -19px;left: -8px;float: left;}