/*------------------------------------*\
    $LOGO
\*------------------------------------*/
header.menu-active{
	@include bp (med){
		width: 90%; float:right;
	}
}
.header{
	position: relative;	top: 0;	left:0;	width: 100%; background-color: white;
	@include bp (med) { width: 100%;}
}
.header__bg{
	position:relative; top: 25%; width: 75%; height: 400px; margin: 7% 20%; /*background-color: black;*/color:black; 
	h1 {font-size: 51px;}
	@include bp (med) {	position: relative;top: 60px;width: 100%;height: 460px;margin: 0;
		h1{font-size: 27px;text-align: center;}
	}
//uhm
}
.header__brand{ color: black;
    width: 100%; height: 100%; background-position: center center; /*background-image: url(../../../images/placeholder-1.png);*/ background-repeat:no-repeat;
}    