/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
* {
	font-family: "helvetica","Arial";
}
a.smarterwiki-linkify{ color: white; text-decoration:none;}
html,body{
	width: 100%;margin: 0;
}
section.menu-active{
	transition: all 0.5 ease;
	@include bp (med){
		width: 90%; float:right;
	}
}
h5{color:white;}
.ninja-title{
	float: left;margin: 0px auto;width:  60%;color: #344E58;
	@include bp(med) {width: 100%;}
}
.ninja-icon{
	float:left;	height: 400px;	width: 40%;
	@include bp(med){
		width: 100%;
		img{ width: 200px;margin: 0 25%;}
	}
}
.made-with{
	float:right;
	img{ width: 180px;}
	@include bp(med){display:none;}
}
.container{
	position: relative; float: left; margin: 0 auto 0 auto; width: 100%; background-color: white; 
	h1 { width: 100%; margin: 0 auto; color: white; }
	@include bp(med){
		margin: 0 auto;
	}
}
.block-text {
	h1{color: white;border-bottom: 1px solid white;line-height: 77px;}
	p{ width: 70%;margin: auto;color: white;}
}
.banner {
	float: left; height: 100px; width: 100%; background-color: white;color: #344E58;border-top: 5px solid #344E58;
	/*margin-bottom: 100px; background-color: #344E58;*/ color:white; text-align:center;
	h1 { width: 100%; margin: 0 auto; color: #344E58; padding: 20px 0; line-height:50px; }
	p {padding: 20px;} 
	@include bp(med){
		h1{padding:0; line-height: 100px;}
		// margin-bottom:50px;
	}
}
.banner--border-bottom{ @extend .banner; /*border-bottom: 5px solid #344E58;*/}
.banner--reverse-color{ @extend .banner--border-bottom; background-color:#527B8B;
	h1{color: white;}
}
.about{
	float:left; width: 100%; text-align:center; margin-top: 50px;
	// h1 { margin: 30px auto;float:left;width:100%; color: white; }
}
.no-mob{
	@include bp(phone){display:none;}
}
.button__standard{
	display: block;	margin: 5px auto;	width: 90%;	height: 40px;	background: #344E58;	border: 1px solid #FFF;	outline: none;	border-radius: 6px;	color: #FFF;
	span{font-size: 14px; }
}
a {text-decoration:none;}