/*************************
		timeline
*************************/
.skills {
	float:left; position: relative;width: 100%;background-color: white;
	svg{ height: 520px;
		g{
			rect{ width: 100%;}
		}
	}
}
.skills--secondary { 
	@extend .skills;
	svg{ height: 285px;}
}
.skills__text { float:left;position: relative;width: 50%;background-color: white;
	svg{ height: 285px;
		g{
			rect{ width: 100%;}
		}
	}
	@include bp(med) { width: 26%;}
}
.skills__articletext {
	@extend .skills__text;
}