	<section class="block-container">
		<div class="block-container__item">

		<section class="input">
		<div class="header-title"><h1>Resizer</h1></div>
		<div class="input-background">
			<div class="intro">
				<div class="intro__bg"></div>
				<div class="intro__text"><p>Drag &amp; Drop your Files</p></div>
			</div>
			<div class="ending">
				<div class="ending__text"><p>Work is over!</p></div>
			</div>
			<div class="additional-info">
			</div>
			<div class="input__dimensions">
				<input type="number" id="widthVal" placeholder="Width  px" />
				<input type="number" id="heightVal" placeholder="Height  px" />
			</div>
			<div class="input__crop">
				<input type="checkbox" id="crop" class="custom-button" />
				<div class="icon-label"></div>
				<label for="crop">Crop</label>
			</div>
			<div class="loader">
				<div id="loader" class="loader__progress-bar"></div>
			</div>
		</div>
		<div class="input__browse">
			<input type="file" id="file-input" class="custom-filetype-button" multiple/>
		</div>
		<div class="input__button">
			<button type="button" id="resize" class="custom-checkbox"><p id="crop-text">resize</p></button>
		</div>
		<div class="download">
			<button id="download" class="download__button">download</button>
		</div>
		<div class="back">
			<a class="back-link" onclick="clearDataStorage();"><div class="back__button"><p>back</p></div></a>
			<a id="clear" class="startover-link" onclick="clearCollection();"><div class="back__start-over"><p>start over</p></div></a>
		</div>
		</section>
		<section class="layout">
			<div class="triangle-ruler"><p>this triangle</p></div>
			<div class="passer"><p>this passer</p></div>
			<div class="image-stack"><p>this imagestack</p></div>
			<div class="ruler"><p>this ruler</p></div>
			<div class="circular-ruler"><p>this circular-ruler</p></div>
			<div class="pen"><p>this pen</p></div>
			<div class="cropped-images"><p>these images</p></div>
			<div class="ananas"><p>this ananas</p></div>
			<div class="slippers"><p>these slippers</p></div>
			<div class="badje"><p>this badje</p></div>
			<div class="guitar"><p>these guitar</p></div>
		</section>
		<!-- <div id="loader"></div>
		<div class="imageresizer">
			<div class="imageresizer__block">
				<div class="dnd"><img src="media/images/og_grrr.png"><p>Drag and Drop the Files</p></div>
			</div>
				<div class="imageresizer__input">
					<input type="file" id="file-input" multiple />
					<input type="number" id="widthVal" placeholder="width" />
					<input type="number" id="heightVal" placeholder="height" />
				</div>
				<div id="imageresizer__actions">
					<button type="button" id="resize">resize</button>
					<button type="button" id="crop">crop</button>
					<button type="button" id="clear">clear</button>
					<button type="button" id="antialias">anti-alias</button>
					<button id="download">download</button>
				</div>
				<img class="logo" src="media/images/lama.png">
		</div> -->

		<!-- <div id="imagecollection">
			<div id="imagecollection__list"></div>
		</div> -->
		<form class="outputfiles">
			<div id="outputfiles__storage">
		 		<!--<br/><p>Original was 1600x1200, reduced to 400x300 canvas</p><br/>
				<canvas id="canvas" width=100 height=100></canvas> -->
				<div id="items">
				</div>
			</div>
		</form>
		<!-- <div id="to-top"><span>top</span></div> -->
		</div>
	</section>