@charset "UTF-8";
/*------------------------------------*\
    SCREEN.CSS
\*------------------------------------*/
/**
 * Setup
 */
/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * OBJECTS-AND-ABSTRACTIONS
 * OVERRIDES
 * CUSTOM
    ^ COLORS
    ^ FONTS
    ^ CUSTOM FONT MIXINS
*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */
/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */
/**
 * Other overrides to inuit
 */
/* line 85, sass/_vars.scss */
label {
  cursor: default !important;
}

/* line 86, sass/_vars.scss */
.form-fields input[type=text] {
  cursor: text;
}

/* line 87, sass/_vars.scss */
.check-list label {
  cursor: pointer !important;
}

/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */
/**
 * ^COLORS 
 */
/**
 * ^FONTS
 */
/**
 * ^CUSTOM FONT MIXINS 
 */
/* ==========================================================================
   variables
   ========================================================================== */
/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * MIXINS
*/
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/* ==========================================================================
   mixins and functions
   ========================================================================== */
/**
 * For converting pixels to ems
 * Based on a 10px font-size on the html
 * Usage:
 * div { width: pxToEm(300); }
 * Returns:
 * div { width: 30em; }
 */
/**
 * Color mixins (other than lighten or darken)
*/
/**
 * Responsive padding (include units, so: 20px, ...)
 * Usage:
 * .content { @include responsive-padding($margin, $margin*2, $margin, $margin*1.5): }
 *
 * author: Koen
 */
/**
 * For image replacement
 */
/**
 * For font-sizing in rem
 * Usage:
 * html { font-size: 62.5%; }
 * p { @include font-size(16); }
 */
/**
 * For using breakpoints
 * Usage:
 * div { width: 60px;
 *	@include breakpoint-min($small) { width: 80px; }
 * }
 *
 * Pass true as a second parameter to toggle high dpi screens
 */
/**
 * For targetting high dpi screens
 * Usage:
 * div {
 *	width: 30px; height: 30px; background: url('img.jpg');
 *	@include high-dpi() { background: url('image-2x.jpg'); @include background-size(30px 30px); }
 * }
 */
/**
 * For targeting old-IE
 * Usage:
 * div {
 *  @include old-ie { zoom: 1; }
 * }
 */
/**
 * Calculate fluid ratio based on two dimensions (width/height)
 * @see http://voormedia.com/blog/2012/11/responsive-background-images-with-fixed-or-fluid-aspect-ratios
 * Usage:
 * .header { @include fluid-ratio(800px 200px, 300px 150px); background-image: url('img/branding.png'); }
 */
/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */
/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/* line 4, sass/ui/_scaffolding.scss */
* {
  font-family: "helvetica","Arial";
}

/* line 7, sass/ui/_scaffolding.scss */
html, body {
  width: 100%;
  margin: 0;
}

@media (max-width: 48em) {
  /* line 11, sass/ui/_scaffolding.scss */
  section.menu-active {
    width: 70%;
    float: right;
  }
}

/* line 16, sass/ui/_scaffolding.scss */
.container {
  position: relative;
  float: left;
  margin: 0 auto 100px auto;
  width: 100%;
  background-color: white;
}
/* line 18, sass/ui/_scaffolding.scss */
.container h1 {
  width: 100%;
  margin: 0 auto;
  color: white;
}
@media (max-width: 48em) {
  /* line 16, sass/ui/_scaffolding.scss */
  .container {
    margin: 0 auto;
  }
}

/* line 23, sass/ui/_scaffolding.scss */
.block-list {
  width: 100%;
  height: 600px;
}
/* line 26, sass/ui/_scaffolding.scss */
.block-list .block-text h1 {
  line-height: 115px;
}
/* line 27, sass/ui/_scaffolding.scss */
.block-list .block-text p {
  line-height: 55px;
}
@media (max-width: 48em) {
  /* line 23, sass/ui/_scaffolding.scss */
  .block-list {
    width: 100%;
  }
  /* line 31, sass/ui/_scaffolding.scss */
  .block-list .block-text h1 {
    color: white;
    border-bottom: 1px solid white;
    line-height: 77px;
  }
  /* line 32, sass/ui/_scaffolding.scss */
  .block-list .block-text p {
    width: 80%;
    margin: auto;
    color: white;
    font-size: 12px;
  }
}
@media (min-width: 64em) {
  /* line 23, sass/ui/_scaffolding.scss */
  .block-list {
    width: 88%;
    margin: auto;
  }
  /* line 38, sass/ui/_scaffolding.scss */
  .block-list .block-text h1 {
    color: white;
    border-bottom: 1px solid white;
    line-height: 77px;
  }
  /* line 39, sass/ui/_scaffolding.scss */
  .block-list .block-text p {
    width: 80%;
    margin: auto;
    color: white;
    font-size: 12px;
  }
}
@media (min-width: 84.375em) {
  /* line 23, sass/ui/_scaffolding.scss */
  .block-list {
    width: 85%;
    margin: 100px 10%;
  }
  /* line 44, sass/ui/_scaffolding.scss */
  .block-list .block-text h1 {
    line-height: 115px;
  }
  /* line 45, sass/ui/_scaffolding.scss */
  .block-list .block-text p {
    line-height: 55px;
  }
}

/* line 49, sass/ui/_scaffolding.scss */
.block-item {
  display: none;
  position: absolute;
  top: 0;
  height: 60%;
  width: 375px;
  line-height: 30px;
  margin: 20% 0;
  text-align: center;
  background: #344E58;
}
@media (max-width: 48em) {
  /* line 49, sass/ui/_scaffolding.scss */
  .block-item {
    width: 100%;
  }
}
@media (min-width: 64em) {
  /* line 49, sass/ui/_scaffolding.scss */
  .block-item {
    width: 100%;
  }
}

/* line 59, sass/ui/_scaffolding.scss */
.block-text h1 {
  color: white;
  border-bottom: 1px solid white;
  line-height: 77px;
}
/* line 60, sass/ui/_scaffolding.scss */
.block-text p {
  width: 70%;
  margin: auto;
  color: white;
}

/* line 62, sass/ui/_scaffolding.scss */
.banner {
  float: left;
  height: 100px;
  width: 100%;
  margin-bottom: 100px;
  background-color: #344E58;
  color: white;
  text-align: center;
}
/* line 64, sass/ui/_scaffolding.scss */
.banner h1 {
  width: 100%;
  margin: 0 auto;
  color: white;
  padding: 20px;
  line-height: 50px;
}
/* line 65, sass/ui/_scaffolding.scss */
.banner p {
  padding: 20px;
}
@media (max-width: 48em) {
  /* line 62, sass/ui/_scaffolding.scss */
  .banner {
    margin-bottom: 0;
  }
  /* line 67, sass/ui/_scaffolding.scss */
  .banner h1 {
    padding: 0;
    line-height: 100px;
  }
}

@-moz-document url-prefix() {
  /* line 73, sass/ui/_scaffolding.scss */
  .block-image {
    margin: 0 !important;
  }
}

/* line 77, sass/ui/_scaffolding.scss */
.block-image {
  position: relative;
  float: left;
  -webkit-clip-path: polygon(0px 50%, 50% 99%, 100% 50%, 50% 0px);
  -moz-clip-path: polygon(0px 50%, 50% 99%, 100% 50%, 50% 0px);
}
/* line 79, sass/ui/_scaffolding.scss */
.block-image:hover .block-item {
  display: block;
}
@media (max-width: 48em) {
  /* line 77, sass/ui/_scaffolding.scss */
  .block-image {
    margin: 0 20%;
  }
  /* line 84, sass/ui/_scaffolding.scss */
  .block-image.fourth, .block-image.fifth, .block-image.sixth {
    margin: 0 20%;
  }
}
@media (min-width: 48em) {
  /* line 87, sass/ui/_scaffolding.scss */
  .block-image.fourth, .block-image.fifth, .block-image.sixth {
    margin: 0;
  }
}
@media (min-width: 64em) {
  /* line 90, sass/ui/_scaffolding.scss */
  .block-image.fourth {
    margin: -115px 0 0 130px;
  }
  /* line 91, sass/ui/_scaffolding.scss */
  .block-image.fifth {
    margin: -115px 0 0 260px;
  }
  /* line 92, sass/ui/_scaffolding.scss */
  .block-image.sixth {
    margin: -264px 0 0 390px;
  }
}
@media (min-width: 84.375em) {
  /* line 95, sass/ui/_scaffolding.scss */
  .block-image.fourth {
    margin: -175px 0 0 188px;
  }
  /* line 96, sass/ui/_scaffolding.scss */
  .block-image.fifth {
    margin: -379px 563px;
  }
  /* line 97, sass/ui/_scaffolding.scss */
  .block-image.sixth {
    margin: -378px 938px;
  }
}
/* line 99, sass/ui/_scaffolding.scss */
.block-image img {
  width: 375px;
  height: 375px;
  position: relative;
  margin: 0px auto;
}
@media (max-width: 48em) {
  /* line 99, sass/ui/_scaffolding.scss */
  .block-image img {
    width: 250px;
    height: 250px;
  }
}
@media (min-width: 64em) {
  /* line 99, sass/ui/_scaffolding.scss */
  .block-image img {
    width: 260px;
    height: 260px;
  }
}
@media (min-width: 84.375em) {
  /* line 99, sass/ui/_scaffolding.scss */
  .block-image img {
    width: 375px;
    height: 375px;
  }
}

/* line 112, sass/ui/_scaffolding.scss */
.block-list--tools-container {
  margin: 0 auto;
  width: 100%;
}

/* line 115, sass/ui/_scaffolding.scss */
.block-item--tools {
  height: 200px;
  width: 45%;
  background: #C0D1D8;
  color: grey;
  float: left;
  margin: 2em;
  border: 1px solid white;
}
@media (max-width: 48em) {
  /* line 115, sass/ui/_scaffolding.scss */
  .block-item--tools {
    width: 85%;
  }
}

/* line 121, sass/ui/_scaffolding.scss */
.block-item--tools__image {
  float: left;
  width: 25%;
}
/* line 123, sass/ui/_scaffolding.scss */
.block-item--tools__image img {
  width: 100px;
  height: 100px;
}

/* line 125, sass/ui/_scaffolding.scss */
.block-item--tools__text {
  width: 60%;
  float: right;
  background: #505759;
  height: 100%;
}
/* line 127, sass/ui/_scaffolding.scss */
.block-item--tools__text h1 {
  padding: 10px;
  border-bottom: 1px solid grey;
}
/* line 128, sass/ui/_scaffolding.scss */
.block-item--tools__text p {
  padding: 10px;
}

/* line 130, sass/ui/_scaffolding.scss */
.about {
  float: left;
  width: 100%;
  background-color: #527B8B;
  text-align: center;
}
/* line 132, sass/ui/_scaffolding.scss */
.about h1 {
  margin: 30px auto;
  float: left;
  width: 100%;
  color: white;
}
/* line 133, sass/ui/_scaffolding.scss */
.about p {
  color: grey;
}

/* line 135, sass/ui/_scaffolding.scss */
.block-container {
  width: 100%;
  position: relative;
  float: left;
  margin: auto;
}

/* line 136, sass/ui/_scaffolding.scss */
.block-container__item {
  width: 80%;
  margin: auto;
}
@media (max-width: 48em) {
  /* line 136, sass/ui/_scaffolding.scss */
  .block-container__item {
    width: 100%;
  }
}

/* line 141, sass/ui/_scaffolding.scss */
.block-container__item-image {
  float: left;
  width: 30%;
  border-right: 2px solid white;
}
@media (max-width: 48em) {
  /* line 141, sass/ui/_scaffolding.scss */
  .block-container__item-image {
    width: 100%;
    /* margin: 10px 0 0 0;*/
    max-height: 100px;
  }
}
/* line 146, sass/ui/_scaffolding.scss */
.block-container__item-image img {
  float: left;
  /*margin: 25px;*/
  width: 100%;
}
@media (min-width: 48em) {
  /* line 146, sass/ui/_scaffolding.scss */
  .block-container__item-image img {
    max-width: 400px;
    max-height: 400px;
  }
}

/* line 155, sass/ui/_scaffolding.scss */
.block-description {
  float: right;
  width: 50%;
  margin: 10px;
  height: 403px;
  padding-left: 100px;
  background: #527B8B;
  line-height: 71px;
  /*border-left: 9px solid white;*/
}
@media (max-width: 48em) {
  /* line 155, sass/ui/_scaffolding.scss */
  .block-description {
    float: left;
    width: 81%;
    min-height: 400px;
    padding: 20px;
    line-height: 30px;
  }
}
/* line 160, sass/ui/_scaffolding.scss */
.block-description h1 {
  color: white;
}
/* line 161, sass/ui/_scaffolding.scss */
.block-description p {
  color: white;
}
/* line 163, sass/ui/_scaffolding.scss */
.block-description a li {
  list-style-type: none;
  color: white;
  text-decoration: underline;
}

/* line 167, sass/ui/_scaffolding.scss */
.block-list__tools-item div {
  height: 10px;
  margin: 10px;
  background: crimson;
}

/* line 169, sass/ui/_scaffolding.scss */
.block-list--tools-container {
  float: right;
  margin: 50px auto;
  width: 50%;
}
@media (max-width: 48em) {
  /* line 169, sass/ui/_scaffolding.scss */
  .block-list--tools-container {
    margin: 10px auto;
    width: 90%;
  }
}

/* line 175, sass/ui/_scaffolding.scss */
.git-feed {
  float: left;
  width: 100%;
  height: 900px;
  margin-left: -200px;
  transform: rotate(90deg);
}
@media (max-width: 48em) {
  /* line 175, sass/ui/_scaffolding.scss */
  .git-feed {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    height: 625px;
    margin-left: 0;
    margin-top: 25px;
  }
}

/* line 181, sass/ui/_scaffolding.scss */
.git-feed__description {
  position: relative;
  z-index: 0;
  transform: rotate(-90deg);
}
@media (max-width: 48em) {
  /* line 181, sass/ui/_scaffolding.scss */
  .git-feed__description {
    transform: rotate(0deg);
  }
}
/* line 186, sass/ui/_scaffolding.scss */
.git-feed__description h3 {
  margin: 100px;
  color: white;
}
@media (max-width: 48em) {
  /* line 186, sass/ui/_scaffolding.scss */
  .git-feed__description h3 {
    margin: 10px;
    color: white;
    display: inline-block;
    position: relative;
    top: -655px;
  }
}

/* line 193, sass/ui/_scaffolding.scss */
svg.removed {
  position: relative;
  z-index: 1;
}
@media (max-width: 48em) {
  /* line 193, sass/ui/_scaffolding.scss */
  svg.removed {
    width: 40%;
  }
}

/* line 199, sass/ui/_scaffolding.scss */
svg.added {
  position: relative;
  z-index: 1;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
@media (max-width: 48em) {
  /* line 199, sass/ui/_scaffolding.scss */
  svg.added {
    width: 40%;
  }
}

/* line 205, sass/ui/_scaffolding.scss */
.timeline {
  width: 100%;
  background: white;
  float: left;
}
@media (max-width: 48em) {
  /* line 205, sass/ui/_scaffolding.scss */
  .timeline {
    height: 620px;
  }
}

/* line 213, sass/ui/_scaffolding.scss */
.timeline__container {
  height: 200px;
  width: 80%;
  margin: 100px auto;
}
@media (max-width: 48em) {
  /* line 213, sass/ui/_scaffolding.scss */
  .timeline__container {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    margin: 212px auto;
    float: left;
    width: 100%;
    position: relative;
    left: -70px;
  }
}

/* line 219, sass/ui/_scaffolding.scss */
.timeline__phase {
  width: 100%;
  height: 30px;
  background: #344E58;
  position: relative;
  top: 100px;
}

/* line 222, sass/ui/_scaffolding.scss */
.timeline__period {
  background: #527B8B;
  height: 50px;
  width: 24%;
  position: relative;
  top: -90px;
  display: inline-block;
  float: left;
  border: 1px solid white;
}

/* line 225, sass/ui/_scaffolding.scss */
.timeline__tools-item {
  background: #DE838B;
  width: 7%;
  height: 40px;
  display: inline-block;
  top: -102px;
  position: relative;
  float: left;
  margin: 0 20%;
}

/* line 228, sass/ui/_scaffolding.scss */
.timeline__tools-item__description {
  width: 100px;
  height: 60px;
  background: #527B8B;
  color: white;
  border-radius: 3px;
  top: -62px;
  position: relative;
  left: -22px;
  line-height: 60px;
}
@media (max-width: 48em) {
  /* line 228, sass/ui/_scaffolding.scss */
  .timeline__tools-item__description {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
}

/* line 234, sass/ui/_scaffolding.scss */
h5 {
  color: white;
}

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * GLOBAL
 * COLORS
 * LOAD FONTS
 * ICONS
 * HEADINGS
 * LINKS
 * ICONS
 * OTHER
*/
/*------------------------------------*\
    $GLOBAL
\*------------------------------------*/
/* line 23, sass/ui/_typography.scss */
html {
  font-weight: 300;
  font-style: normal;
}

/* line 29, sass/ui/_typography.scss */
* {
  font-family: "Helvetica Neue", sans-serif;
}

/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/*------------------------------------*\
    $LOAD FONTS
\*------------------------------------*/
/*------------------------------------*\
    $ICONS
\*------------------------------------*/
/* line 61, sass/ui/_typography.scss */
[data-icon]:before {
  content: attr(data-icon);
  text-transform: none;
  font-weight: normal;
  font-variant: normal;
  font-family: 'Icons';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
/*------------------------------------*\
    $LINKS
\*------------------------------------*/
/* line 88, sass/ui/_typography.scss */
a {
  color: #58585b;
}
/* line 92, sass/ui/_typography.scss */
a:hover {
  color: #d70014;
}

/*------------------------------------*\
    $OTHER
\*------------------------------------*/
/* line 104, sass/ui/_typography.scss */
strong,
.bold {
  font-weight: bold;
}

/* line 106, sass/ui/_typography.scss */
em {
  font-style: italic;
}

/* line 108, sass/ui/_typography.scss */
.no-underline {
  text-decoration: none;
}

/* line 110, sass/ui/_typography.scss */
::selection {
  background: #d70014;
  color: white;
}

/* line 114, sass/ui/_typography.scss */
::-moz-selection {
  background: #d70014;
  color: white;
}

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * TEXT
 * BACKGROUND
 * BORDERS
 * BLOCKS
*/
/*------------------------------------*\
    $TEXT
\*------------------------------------*/
/* line 19, sass/ui/_color.scss */
body {
  color: #808284;
}

/* line 22, sass/ui/_color.scss */
.white {
  color: white;
}

/* line 23, sass/ui/_color.scss */
.gray1 {
  color: #f7f7f7;
}

/* line 24, sass/ui/_color.scss */
.gray2 {
  color: #eeeeee;
}

/* line 25, sass/ui/_color.scss */
.gray3 {
  color: #d8d8d8;
}

/* line 26, sass/ui/_color.scss */
.gray4 {
  color: #9a9ea1;
}

/* line 27, sass/ui/_color.scss */
.gray5 {
  color: #808284;
}

/* line 28, sass/ui/_color.scss */
.gray6 {
  color: #58585b;
}

/* line 29, sass/ui/_color.scss */
.black {
  color: black;
}

/* line 33, sass/ui/_color.scss */
.color-twitter,
.hover-color-twitter:hover {
  color: #63cdf7;
}

/* line 36, sass/ui/_color.scss */
.color-linkedin,
.hover-color-linkedin:hover {
  color: #00659b;
}

/* line 39, sass/ui/_color.scss */
.color-facebook,
.hover-color-facebook:hover {
  color: #3b5895;
}

/* line 42, sass/ui/_color.scss */
.color-google,
.hover-color-google:hover {
  color: #ff0017;
}

/* line 45, sass/ui/_color.scss */
.color-mail,
.hover-color-mail:hover {
  color: #6cba16;
}

/* line 50, sass/ui/_color.scss */
.color1,
.hover-color1:hover,
.hover-color1.active {
  color: #d70014 !important;
}

/* line 54, sass/ui/_color.scss */
.color2,
.hover-color2:hover,
.hover-color2.active {
  color: #2f7dc4 !important;
}

/* line 58, sass/ui/_color.scss */
.color3,
.hover-color3:hover,
.hover-color3.active {
  color: #6cba16 !important;
}

/* line 62, sass/ui/_color.scss */
.color4,
.hover-color4:hover,
.hover-color4.active {
  color: #ffa501 !important;
}

/* line 66, sass/ui/_color.scss */
.color5,
.hover-color5:hover,
.hover-color5.active {
  color: #8a2ca1 !important;
}

/*------------------------------------*\
    $BACKGROUND
\*------------------------------------*/
/* line 76, sass/ui/_color.scss */
.bg-white {
  background-color: white;
}

/* line 77, sass/ui/_color.scss */
.bg-gray1 {
  background-color: #f7f7f7;
}

/* line 78, sass/ui/_color.scss */
.bg-gray2 {
  background-color: #eeeeee;
}

/* line 79, sass/ui/_color.scss */
.bg-gray3 {
  background-color: #d8d8d8;
}

/* line 80, sass/ui/_color.scss */
.bg-gray4 {
  background-color: #9a9ea1;
}

/* line 81, sass/ui/_color.scss */
.bg-gray5 {
  background-color: #808284;
}

/* line 82, sass/ui/_color.scss */
.bg-gray6 {
  background-color: #58585b;
}

/* line 83, sass/ui/_color.scss */
.bg-black {
  background-color: black;
}

/* line 85, sass/ui/_color.scss */
.bg-color1 {
  background-color: #d70014;
}

/* line 86, sass/ui/_color.scss */
.bg-color2 {
  background-color: #2f7dc4;
}

/* line 87, sass/ui/_color.scss */
.bg-color3 {
  background-color: #6cba16;
}

/* line 88, sass/ui/_color.scss */
.bg-color4 {
  background-color: #ffa501;
}

/* line 89, sass/ui/_color.scss */
.bg-color5 {
  background-color: #8a2ca1;
}

/* line 100, sass/ui/_color.scss */
.bg-gray4,
.bg-gray5,
.bg-gray6,
.bg-black,
.bg-color1,
.bg-color2,
.bg-color3,
.bg-color4,
.bg-color5 {
  color: white;
}

/*------------------------------------*\
    $BORDERS
\*------------------------------------*/
/* line 112, sass/ui/_color.scss */
.border-color1 {
  border-color: #d70014;
}

/* line 113, sass/ui/_color.scss */
.border-color2 {
  border-color: #2f7dc4;
}

/* line 114, sass/ui/_color.scss */
.border-color3 {
  border-color: #6cba16;
}

/* line 115, sass/ui/_color.scss */
.border-color4 {
  border-color: #ffa501;
}

/* line 117, sass/ui/_color.scss */
.border-none {
  border: none !important;
}

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * LOGO
*/
/*------------------------------------*\
    $LOGO
\*------------------------------------*/
@media (max-width: 48em) {
  /* line 15, sass/ui/_header.scss */
  header.menu-active {
    width: 70%;
    float: right;
  }
}

/* line 20, sass/ui/_header.scss */
.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}
@media (max-width: 48em) {
  /* line 20, sass/ui/_header.scss */
  .header {
    width: 100%;
  }
}

/* line 24, sass/ui/_header.scss */
.header__bg {
  position: relative;
  top: 25%;
  width: 56%;
  height: 400px;
  margin: 7% 20%;
  background-color: black;
}
@media (max-width: 48em) {
  /* line 24, sass/ui/_header.scss */
  .header__bg {
    position: relative;
    top: 60px;
    width: 100%;
    height: 460px;
    margin: 0;
  }
}

/* line 28, sass/ui/_header.scss */
.header__brand {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-image: url(../../../images/placeholder-1.png);
  background-repeat: no-repeat;
}

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * NAV PRIMARY
 * NAV MOBILE
*/
/*------------------------------------*\
    $NAV PRIMARY
\*------------------------------------*/
/* line 17, sass/ui/_navs.scss */
.nav {
  z-index: 2;
  position: fixed;
  top: 10px;
  left: 10px;
  margin: 0;
  width: 125px;
  height: 110px;
  background-color: #383d3f;
}
/* line 18, sass/ui/_navs.scss */
.nav ul {
  position: relative;
  margin: 100px 0;
  width: 50%;
  padding: 0px 15px;
  height: 100%;
}
/* line 19, sass/ui/_navs.scss */
.nav ul li {
  float: left;
  height: 60px;
  width: 100px;
  list-style-type: none;
  padding: 0 20px;
  line-height: 55px;
}
/* line 20, sass/ui/_navs.scss */
.nav ul li:hover {
  background-color: grey;
  color: white;
}
/* line 23, sass/ui/_navs.scss */
.nav ul li a {
  display: block;
  height: 60px;
  width: 100%;
  text-decoration: none;
}
/* line 24, sass/ui/_navs.scss */
.nav ul li a:hover {
  color: white;
}
/* line 25, sass/ui/_navs.scss */
.nav ul li a:hover .nav--secundairy {
  display: block;
}
@media (max-width: 48em) {
  /* line 17, sass/ui/_navs.scss */
  .nav {
    top: 0;
    left: 0;
    width: 77px;
    height: 61px;
  }
  /* line 33, sass/ui/_navs.scss */
  .nav:hover {
    opacity: 1;
  }
  /* line 34, sass/ui/_navs.scss */
  .nav .nav__button {
    left: 0px;
    top: 0;
    margin: 5px 1qpx;
  }
  /* line 35, sass/ui/_navs.scss */
  .nav ul {
    display: block;
    margin: 0;
    height: 100%;
    background: white;
  }
  /* line 36, sass/ui/_navs.scss */
  .nav ul li {
    width: 100%;
    background: white;
  }
}

/* line 40, sass/ui/_navs.scss */
.nav--off-window {
  display: none;
  z-index: 2;
  top: 0;
  position: fixed;
  width: 148px;
  height: 100%;
  background: #383d3f;
  opacity: 1;
  box-shadow: 1px 1px 5px grey;
  text-align: center;
}
@media (max-width: 48em) {
  /* line 40, sass/ui/_navs.scss */
  .nav--off-window {
    float: left;
    width: 77px;
  }
}
/* line 44, sass/ui/_navs.scss */
.nav--off-window ul {
  margin: 100% 0;
  padding: 0;
  text-align: center;
}
/* line 46, sass/ui/_navs.scss */
.nav--off-window ul li {
  display: inline-block;
  width: 100%;
  padding: 25px 0;
  color: white;
  list-style-type: none;
  text-align: center;
}
/* line 48, sass/ui/_navs.scss */
.nav--off-window ul li:hover {
  background: white;
  color: grey;
}
/* line 49, sass/ui/_navs.scss */
.nav--off-window ul li a {
  text-decoration: none;
}

/* line 55, sass/ui/_navs.scss */
.nav--secundairy {
  display: none;
  z-index: 2;
  top: 0;
  left: 148px;
  position: fixed;
  width: 165px;
  height: 100%;
  background: #383d3f;
  opacity: 1;
  box-shadow: 1px 1px 5px grey;
  text-align: center;
}
@media (max-width: 48em) {
  /* line 55, sass/ui/_navs.scss */
  .nav--secundairy {
    float: right;
    width: 40%;
    top: 0px;
    height: 100%;
    left: 77px;
    opacity: 0.9;
  }
  /* line 58, sass/ui/_navs.scss */
  .nav--secundairy .nav__list {
    top: -50px;
    margin-top: 0;
    width: 100%;
  }
}
/* line 60, sass/ui/_navs.scss */
.nav--secundairy ul {
  padding: 0;
  text-align: center;
}
/* line 62, sass/ui/_navs.scss */
.nav--secundairy ul li {
  display: inline-block;
  width: 100%;
  padding: 25px 0;
  color: white;
  list-style-type: none;
  text-align: center;
}
/* line 64, sass/ui/_navs.scss */
.nav--secundairy ul li:hover {
  background: white;
  color: grey;
}
/* line 65, sass/ui/_navs.scss */
.nav--secundairy ul li a {
  text-decoration: none;
}

/* line 70, sass/ui/_navs.scss */
.nav__list {
  margin-top: 100%;
}

/* line 71, sass/ui/_navs.scss */
.nav__button {
  position: absolute;
  left: 25px;
  top: 25px;
  padding: 5px;
}

/* line 73, sass/ui/_navs.scss */
.nav__button-container {
  height: 50px;
  background: #383d3f;
}

/* line 75, sass/ui/_navs.scss */
.nav__button-bar {
  width: 65px;
  height: 10px;
  margin: 10px 0;
  background: white;
}
/* line 76, sass/ui/_navs.scss */
.nav__button-bar:first-child {
  margin: 0 0 10px 0;
}

/*------------------------------------*\
    $NAV MOBILE
\*------------------------------------*/
/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * OVERRIDES
 * LABELS
 * INPUTS
 * ERRORS
 * SIZES
*/
/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/* line 23, sass/ui/_forms.scss */
input[type=text]:active,
input[type=text]:focus,
input[type=password]:active,
input[type=password]:focus {
  cursor: text;
  outline: none;
}

/*------------------------------------*\
    $LABELS
\*------------------------------------*/
/*------------------------------------*\
    $INPUTS
\*------------------------------------*/
/*------------------------------------*\ 
    $ERRORS    
\*------------------------------------*/
/* line 65, sass/ui/_forms.scss */
.field-with-errors {
  position: relative;
  display: inline-block;
}
/* line 70, sass/ui/_forms.scss */
.field-with-errors label,
.field-with-errors .label {
  color: #ffa501;
}
/* line 77, sass/ui/_forms.scss */
.field-with-errors input,
.field-with-errors .select2-container .select2-choice,
.field-with-errors .select2-container-multi .select2-choices {
  border-color: #ffa501 !important;
}

/*------------------------------------*\
    $SIZES
\*------------------------------------*/
/**
 * Small
 */
/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * BASE
 * SIZES
 * COLORS
    ^Colors
    ^Hover
*/
/*------------------------------------*\
    $BASE
\*------------------------------------*/
/*------------------------------------*\
    $SIZES
\*------------------------------------*/
/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/**
 * Colors
 */
/**
 * HOVERS
 */
/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * FOOTER
*/
/* line 8, sass/ui/_footer.scss */
.banner--footer {
  float: left;
  height: 500px;
  width: 100%;
  background-color: #344E58;
  color: white;
  text-align: center;
}
/* line 10, sass/ui/_footer.scss */
.banner--footer h1 {
  width: 100%;
  margin: 50px auto;
  color: white;
}
/* line 11, sass/ui/_footer.scss */
.banner--footer p {
  margin: 50px auto;
}
/* line 12, sass/ui/_footer.scss */
.banner--footer iframe {
  width: 100%;
  height: 500px;
}
/* line 15, sass/ui/_footer.scss */
.banner--footer .maps {
  background: lightgrey;
  height: 500px;
}

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
/*------------------------------------*\ 
    $CONTENTS    
\*------------------------------------*/
/**
 * SECTION TITLE
*/
/* line 2, sass/ui/_resizer-input.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 6, sass/ui/_resizer-input.scss */
input[type=checkbox] {
  display: none;
}

/* line 10, sass/ui/_resizer-input.scss */
.custom-filetype-button::-webkit-file-upload-button {
  visibility: hidden;
}

/* line 12, sass/ui/_resizer-input.scss */
.header-title h1 {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  color: #3C3C3B;
  width: 366px;
}

/* line 14, sass/ui/_resizer-input.scss */
.intro {
  width: 100%;
}

/* line 17, sass/ui/_resizer-input.scss */
.intro__bg {
  background-image: url(../images/drag-and-drop.png);
  width: 75px;
  height: 57px;
  margin: auto;
  background-repeat: no-repeat;
  position: relative;
  top: 60px;
}

/* line 19, sass/ui/_resizer-input.scss */
.intro__text p {
  text-align: center;
  color: white;
  line-height: 200px;
  font-size: 27px;
  font-weight: bold;
}

/* line 22, sass/ui/_resizer-input.scss */
.input {
  position: relative;
  z-index: 3;
  width: 366px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

/* line 23, sass/ui/_resizer-input.scss */
.input__browse {
  width: 100%;
  margin: 25px 0 0 0;
  height: 85px;
  background: #FFAE20;
  border-radius: 5px;
}
/* line 24, sass/ui/_resizer-input.scss */
.input__browse input[type="file"] {
  height: 79px;
  width: 100%;
  border-radius: 5px;
  border-bottom: white 2px solid;
  outline: none;
}
/* line 25, sass/ui/_resizer-input.scss */
.input__browse input[type="file"]:active {
  height: 82px;
}
/* line 28, sass/ui/_resizer-input.scss */
.input__browse input#file-input::before {
  width: 100%;
  height: 77px;
  border-radius: 5px;
  background: #FFD800;
  content: 'browse';
  font-size: 35px;
  text-shadow: 0px 3px 0px #FFC300;
  text-transform: uppercase;
  text-align: center;
  line-height: 80px;
  display: inline-block;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  color: #FFF;
}
@media only screen and (max-width: 39.9375em) {
  /* line 28, sass/ui/_resizer-input.scss */
  .input__browse input#file-input::before {
    font-size: 27px;
  }
}
/* line 31, sass/ui/_resizer-input.scss */
.input__browse input#file-input:hover::before {
  background: #FFC300;
}
/* line 32, sass/ui/_resizer-input.scss */
.input__browse input#file-input:active::before {
  height: 81px;
}

/* line 36, sass/ui/_resizer-input.scss */
.input-background {
  background-image: url(../images/dimensions-background.png);
  width: 366px;
  height: 279px;
}

/* line 37, sass/ui/_resizer-input.scss */
.amount {
  padding: 35px 10px 10px 10px;
  color: white;
  text-align: center;
}

/* line 38, sass/ui/_resizer-input.scss */
.dimensions {
  display: block;
}

/* line 39, sass/ui/_resizer-input.scss */
.crop-button {
  width: 100px;
  height: 45px;
  border-radius: 5px;
  border: none;
  background: white;
  box-shadow: 0 0 5px grey;
}

/* line 41, sass/ui/_resizer-input.scss */
.input__dimensions {
  display: none;
  height: 94px;
}
/* line 43, sass/ui/_resizer-input.scss */
.input__dimensions input {
  outline: none;
  width: 145px;
  height: 45px;
  float: left;
  margin: 0 14px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 8px grey;
  padding: 5px;
}

/* line 47, sass/ui/_resizer-input.scss */
.input__button {
  display: none;
  width: 100%;
  margin: 25px 0 0 0;
  height: 86px;
  background: #FFC300;
  border-radius: 5px;
}
/* line 49, sass/ui/_resizer-input.scss */
.input__button button {
  height: 77px;
  width: 100%;
  border-radius: 5px;
  background: #FFD800;
  outline: none;
  padding: 0;
  border: 0 0 2px 0 solid white;
  border-bottom: 2px solid white;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
/* line 50, sass/ui/_resizer-input.scss */
.input__button button:active {
  height: 83px;
}
/* line 51, sass/ui/_resizer-input.scss */
.input__button button:hover {
  background: #FFC300;
}
/* line 53, sass/ui/_resizer-input.scss */
.input__button p {
  font-size: 35px;
  text-shadow: 0px 3px 0px #FFC300;
  text-transform: uppercase;
  text-align: center;
  line-height: 15px;
  font-weight: 700;
  color: #FFF;
}
/* line 54, sass/ui/_resizer-input.scss */
.input__button .custom-checkbox::before {
  width: 100%;
  height: 75px;
  border-radius: 5px;
  background: #FFD800;
  display: inline-block;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}

/* line 59, sass/ui/_resizer-input.scss */
.pressed {
  background: #FFD800 !important;
}

/* line 60, sass/ui/_resizer-input.scss */
.active--resizer {
  background-image: url(../images/crop_check.png);
}

/* line 61, sass/ui/_resizer-input.scss */
.icon-label {
  float: left;
  width: 38px;
  height: 38px;
  background: #B2B2B2;
  position: relative;
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  top: 1px;
  left: 2px;
}

/* line 63, sass/ui/_resizer-input.scss */
.input__crop {
  display: none;
  width: 100px;
  height: 45px;
  margin: auto;
  background: #EDEDED;
  border-radius: 5px;
  box-shadow: 0 0 8px grey;
  border-bottom: 4px solid #B2B2B2;
  color: #3C3C3B;
}
/* line 64, sass/ui/_resizer-input.scss */
.input__crop:active {
  background: #C6C6C6;
  border-bottom: 1px solid #b2b2b2;
}
/* line 65, sass/ui/_resizer-input.scss */
.input__crop:active > .icon-label {
  background: #878787;
}
/* line 67, sass/ui/_resizer-input.scss */
.input__crop label {
  cursor: pointer;
  float: right;
  margin: 14px 0 0 0;
  padding: 1px;
  /* background: grey; */
  width: 50px;
  font-weight: bold;
}
/* line 69, sass/ui/_resizer-input.scss */
.input__crop label:after {
  z-index: 1;
  opacity: 0;
  content: '';
  position: absolute;
  width: 17px;
  height: 9px;
  background: transparent;
  top: 10px;
  left: 10px;
  border: 3px solid white;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}
/* line 71, sass/ui/_resizer-input.scss */
.input__crop:checked + label {
  background: yellow;
}

/* line 73, sass/ui/_resizer-input.scss */
.ending {
  display: none;
  width: 100%;
}

/* line 74, sass/ui/_resizer-input.scss */
.ending__text {
  text-align: center;
  color: white;
  line-height: 250px;
  font-size: 35px;
  font-weight: bold;
}

/* line 76, sass/ui/_resizer-input.scss */
.download {
  display: none;
  width: 366px;
  margin: 25px 0 0 0;
  height: 85px;
  background: #FFC300;
  border-radius: 5px;
}

/* line 78, sass/ui/_resizer-input.scss */
.download__button {
  padding: 0;
  border: 0;
  height: 77px;
  width: 100%;
  border-radius: 5px;
  border-bottom: white 2px solid;
  outline: none;
}
/* line 79, sass/ui/_resizer-input.scss */
.download__button:hover {
  background: #FFC300;
}
/* line 80, sass/ui/_resizer-input.scss */
.download__button:active::before {
  background: #FFC300;
}
/* line 81, sass/ui/_resizer-input.scss */
.download__button:active {
  height: 81px;
}
/* line 82, sass/ui/_resizer-input.scss */
.download__button::before {
  width: 100%;
  height: 82px;
  border-radius: 5px;
  background: #FFD800;
  content: 'Download';
  font-size: 35px;
  text-shadow: 0px 3px 0px #FFC300;
  text-transform: uppercase;
  text-align: center;
  line-height: 80px;
  display: inline-block;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  color: #FFF;
}
@media only screen and (max-width: 39.9375em) {
  /* line 78, sass/ui/_resizer-input.scss */
  .download__button {
    font-size: 27px;
  }
}

/* line 86, sass/ui/_resizer-input.scss */
.back {
  display: none;
  width: 366px;
  border-top: 1px solid grey;
  margin: 25px 0 0 0;
}

/* line 87, sass/ui/_resizer-input.scss */
.back__button {
  background-image: url(../images/back-button.png);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  float: left;
  line-height: 15px;
  text-align: right;
  color: black;
  margin: 25px 0 0 0;
}
/* line 88, sass/ui/_resizer-input.scss */
.back__button p {
  padding: 0px 45px;
  color: #3C3C3B;
  font-size: 30px;
}

/* line 90, sass/ui/_resizer-input.scss */
.back__start-over {
  background-image: url(../images/start-over.png);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  width: 45%;
  height: 28px;
  float: right;
  text-align: right;
  margin: 18px 0 0 0;
  color: black;
}
/* line 91, sass/ui/_resizer-input.scss */
.back__start-over p {
  padding: 0px 0px;
  color: #3C3C3B;
  line-height: 30px;
  font-size: 30px;
}

/* line 93, sass/ui/_resizer-input.scss */
.layout {
  width: 100%;
}

@media only screen and (max-width: 39.9375em) {
  /* line 97, sass/ui/_resizer-input.scss */
  .triangle-ruler, .passer, .ruler, .pen, .circular-ruler, .image-stack {
    display: none !important;
  }

  /* line 98, sass/ui/_resizer-input.scss */
  .slippers, .cropped-images, .ananas, .badje, .guitar {
    display: none !important;
  }
}
@media only screen and (max-width: 63.9375em) {
  /* line 101, sass/ui/_resizer-input.scss */
  .image-stack {
    display: none !important;
  }

  /* line 102, sass/ui/_resizer-input.scss */
  .triangle-ruler-moved, .triangle-ruler {
    top: 49% !important;
    left: 2% !important;
  }

  /* line 103, sass/ui/_resizer-input.scss */
  .passer-moved, .passer {
    top: 13% !important;
    left: 11% !important;
  }

  /* line 104, sass/ui/_resizer-input.scss */
  .badje {
    left: 0% !important;
  }

  /* line 105, sass/ui/_resizer-input.scss */
  .guitar {
    left: 5% !important;
  }

  /* line 106, sass/ui/_resizer-input.scss */
  .ananas {
    left: 80% !important;
  }

  /* line 107, sass/ui/_resizer-input.scss */
  .circular-ruler {
    left: 80%;
    top: 36%;
  }
}
/* line 109, sass/ui/_resizer-input.scss */
.triangle-ruler {
  background-image: url(../images/tri-ruler.png);
  position: absolute;
  top: 50%;
  left: 20%;
  width: 173px;
  height: 111px;
  background-repeat: no-repeat;
  z-index: 1;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-transform: rotate(12deg);
}
@media only screen and (max-width: 63.9375em) {
  /* line 109, sass/ui/_resizer-input.scss */
  .triangle-ruler {
    top: 50%;
    left: -6%;
  }
}

/* line 114, sass/ui/_resizer-input.scss */
.passer {
  background-image: url(../images/passer.png);
  position: absolute;
  top: 20%;
  left: 30%;
  width: 33px;
  height: 193px;
  background-repeat: no-repeat;
  z-index: 1;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-transform: rotate(-10deg);
}
@media only screen and (max-width: 63.9375em) {
  /* line 114, sass/ui/_resizer-input.scss */
  .passer {
    top: 3%;
    left: 30%;
  }
}

/* line 118, sass/ui/_resizer-input.scss */
.image-stack {
  display: none;
  background-image: url(../images/image-stack.png);
  position: absolute;
  top: 31%;
  left: 17%;
  width: 270px;
  height: 189px;
  background-repeat: no-repeat;
  z-index: 1;
}

/* line 122, sass/ui/_resizer-input.scss */
.ruler {
  background-image: url(../images/ruler.png);
  position: absolute;
  width: 240px;
  height: 38px;
  background-repeat: no-repeat;
  z-index: 1;
  top: 26%;
  left: 65%;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-transform: rotate(10deg);
}
@media only screen and (max-width: 63.9375em) {
  /* line 122, sass/ui/_resizer-input.scss */
  .ruler {
    top: 22%;
    left: 65%;
  }
}

/* line 126, sass/ui/_resizer-input.scss */
.pen {
  background-image: url(../images/pen.png);
  position: absolute;
  width: 16px;
  height: 177px;
  background-repeat: no-repeat;
  z-index: 1;
  top: 38%;
  left: 66%;
}
@media only screen and (max-width: 63.9375em) {
  /* line 126, sass/ui/_resizer-input.scss */
  .pen {
    top: 33%;
    left: 77%;
  }
}

/* line 130, sass/ui/_resizer-input.scss */
.circular-ruler {
  background-image: url(../images/circular-ruler.png);
  position: absolute;
  width: 157px;
  height: 79px;
  background-repeat: no-repeat;
  z-index: 1;
  left: 70%;
  top: 46%;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-transform: rotate(-19deg);
}
@media only screen and (max-width: 63.9375em) {
  /* line 130, sass/ui/_resizer-input.scss */
  .circular-ruler {
    left: 100%;
    top: 26%;
  }
}

/* line 134, sass/ui/_resizer-input.scss */
.badje {
  display: none;
  position: absolute;
  top: 17%;
  left: 17%;
  width: 209px;
  height: 192px;
  background-repeat: no-repeat;
  z-index: 1;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-transform: rotate(-10deg);
  background-image: url(../images/badje.png);
}

/* line 138, sass/ui/_resizer-input.scss */
.guitar {
  display: none;
  position: absolute;
  top: 41%;
  left: 21%;
  width: 115px;
  height: 293px;
  background-repeat: no-repeat;
  z-index: 1;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-transform: rotate(12deg);
  background-image: url(../images/guitar.png);
}

/* line 142, sass/ui/_resizer-input.scss */
.cropped-images {
  display: none;
  background-image: url(../images/cropped.png);
  position: absolute;
  width: 225px;
  height: 162px;
  background-repeat: no-repeat;
  z-index: 1;
  top: 31%;
  left: 70%;
}

/* line 146, sass/ui/_resizer-input.scss */
.ananas {
  display: none;
  position: absolute;
  width: 115px;
  height: 220px;
  background-repeat: no-repeat;
  z-index: 1;
  top: 5%;
  left: 70%;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-transform: rotate(10deg);
  background-image: url(../images/ananas.png);
}

/* line 150, sass/ui/_resizer-input.scss */
.slippers {
  display: none;
  background-image: url(../images/slippers.png);
  position: absolute;
  width: 198px;
  height: 168px;
  background-repeat: no-repeat;
  z-index: 1;
  top: 54%;
  left: 70%;
}

/* line 153, sass/ui/_resizer-input.scss */
.triangle-ruler p, .passer p, .image-stack p, .ruler p, .pen p, .circular-ruler p, .badje p, .guitar p, .cropped-images p, .ananas p, .slippers p {
  display: none;
}

/* line 154, sass/ui/_resizer-input.scss */
.passer-moved {
  top: 13% !important;
  left: 22% !important;
  -webkit-transform: rotate(-74deg) !important;
}

/* line 155, sass/ui/_resizer-input.scss */
.triangle-ruler-moved {
  top: 60% !important;
  left: 17% !important;
  -webkit-transform: rotate(12deg) !important;
}

/* line 1, sass/ui/_resizer-loader.scss */
.loader {
  width: 100%;
  position: relative;
  top: -15px !important;
}

/* line 2, sass/ui/_resizer-loader.scss */
.loader__progress-bar {
  z-index: 1;
  position: relative;
  width: 0%;
  height: 5px;
  background: #fab914;
  box-shadow: 0 1px 5px #000;
}

/*form controls / menu */
/* line 2, sass/ui/_resizer-form.scss */
.imageresizer--intro {
  border-radius: 20px;
  left: 30%;
  top: 10%;
  position: absolute;
  width: 50%;
  /* z-index: 0; */
  /* margin: auto; */
  background: #fab914;
  height: 50%;
}

/* line 3, sass/ui/_resizer-form.scss */
.imageresizer__block {
  width: 100%;
  height: 200px;
}

/* line 4, sass/ui/_resizer-form.scss */
.imageresizer__block img {
  margin: 0;
  padding: 20px;
}

/* line 5, sass/ui/_resizer-form.scss */
.imageresizer__input {
  margin-top: 35px;
}

/* line 9, sass/ui/_resizer-form.scss */
.dimensions p {
  color: #FFF;
  padding-left: 5px;
}

/* line 10, sass/ui/_resizer-form.scss */
.dimensions {
  width: 100%;
  left: 0;
  position: absolute;
  display: block;
  background: #fab914;
}

/* line 11, sass/ui/_resizer-form.scss */
.dnd:before {
  vertical-align: middle;
  content: '';
  display: inline-block;
  height: 200px;
  margin-right: -0.25em;
}

/* line 12, sass/ui/_resizer-form.scss */
.dnd {
  width: 90%;
  height: 100%;
  margin: auto;
  border: 2px dashed #FFF;
  text-align: center;
  margin-top: 25px;
}

/* line 14, sass/ui/_resizer-form.scss */
#items {
  float: right;
  width: 75%;
  margin-top: 10px;
}

/* line 15, sass/ui/_resizer-form.scss */
.item {
  float: left;
  position: relative;
  margin: 40px 5px 5px 5px;
  -webkit-transition: all .2s ease-in-out;
}

/* line 16, sass/ui/_resizer-form.scss */
.item:hover {
  -webkit-transform: scale(1.1);
}

/* line 17, sass/ui/_resizer-form.scss */
span.highlight {
  color: #000;
}

/* line 18, sass/ui/_resizer-form.scss */
#dimensions {
  float: right;
  width: 75%;
  margin-top: 10px;
}

/* line 20, sass/ui/_resizer-form.scss */
#imagecollection {
  position: absolute;
  left: 15%;
  width: 15%;
  transition: all 0.4s cubic-bezier(0.17, 0.67, 0, 1);
}

/* line 21, sass/ui/_resizer-form.scss */
#imagecollection img {
  width: 100%;
  margin: 5px;
  padding: 5px;
  background: #fab914;
  box-shadow: 1px 0 5px #000;
}

/* line 25, sass/ui/_resizer-form.scss */
#to-top {
  width: 125px;
  height: 35px;
  position: fixed;
  bottom: 10px;
  right: 38%;
  background: #fab914;
}

/* line 26, sass/ui/_resizer-form.scss */
#to-top > span {
  text-align: center;
  display: block;
  padding: 5px;
  color: #FFF;
}

/* line 27, sass/ui/_resizer-form.scss */
form .input {
  float: left;
}

/* line 28, sass/ui/_resizer-form.scss */
button {
  display: block;
  margin: 5px auto;
  width: 90%;
  height: 40px;
  background: #fab914;
  border: 1px solid #FFF;
  outline: none;
  border-radius: 6px;
  color: #FFF;
}

/* line 29, sass/ui/_resizer-form.scss */
input {
  display: block;
  margin: 10px auto;
  width: 90%;
  height: 40px;
  padding: 7px;
  outline: none;
  border-radius: 10px;
}

/* line 31, sass/ui/_resizer-form.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* line 32, sass/ui/_resizer-form.scss */
input[type=number] {
  border: none;
  box-shadow: inset 0px 1px 5px #000;
}

/*output images*/
/* line 2, sass/ui/_resizer-output.scss */
canvas {
  position: relative;
  z-index: -1;
  border-top: 10px #000;
}

/* line 11, sass/ui/_resizer-output.scss */
.canvas {
  position: relative;
  z-index: 1;
}

/* line 13, sass/ui/_resizer-output.scss */
.imageresizer {
  z-index: 1;
  position: fixed;
  height: 100%;
  width: 15%;
  background: #fab914;
  box-shadow: 1px 0px 10px #000;
}

/* line 14, sass/ui/_resizer-output.scss */
.logo {
  position: fixed;
  top: 80%;
}
