@charset "UTF-8";
/*------------------------------------*\
    SCREEN.CSS
\*------------------------------------*/
/**
 * Setup
 */
/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * OBJECTS-AND-ABSTRACTIONS
 * OVERRIDES
 * CUSTOM
    ^ COLORS
    ^ FONTS
    ^ CUSTOM FONT MIXINS
*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */
/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */
/**
 * Other overrides to inuit
 */
/* line 85, sass/_vars.scss */
label {
  cursor: default !important;
}

/* line 86, sass/_vars.scss */
.form-fields input[type=text] {
  cursor: text;
}

/* line 87, sass/_vars.scss */
.check-list label {
  cursor: pointer !important;
}

/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */
/**
 * ^COLORS 
 */
/**
 * ^FONTS
 */
/**
 * ^CUSTOM FONT MIXINS 
 */
/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * MIXINS
*/
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */
/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * GRID
*/
/* line 7, sass/ui/_scaffolding.scss */
* {
  font-family: "helvetica";
}

/* line 10, sass/ui/_scaffolding.scss */
html, body {
  width: 100%;
  margin: 0;
}

/* line 14, sass/ui/_scaffolding.scss */
.container {
  position: relative;
  width: 100%;
  background-color: darkgrey;
  float: left;
  margin: 0 auto;
}
/* line 16, sass/ui/_scaffolding.scss */
.container h1 {
  width: 100%;
  margin: 0 auto;
  color: white;
}

/* line 18, sass/ui/_scaffolding.scss */
.block-list {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

/* line 21, sass/ui/_scaffolding.scss */
.block-item {
  height: 100%;
  width: 20%;
  background: lightblue;
  color: grey;
  margin: 0 auto;
  float: left;
  /*border:1px solid #086db5;*/
  background-image: url(../../images/placeholder-image.jpg);
}
/* line 23, sass/ui/_scaffolding.scss */
.block-item:hover {
  background-color: grey;
  opacity: 0.5;
}

/* line 25, sass/ui/_scaffolding.scss */
.block-list--tools-container {
  margin: 0 auto;
  width: 60%;
}

/* line 28, sass/ui/_scaffolding.scss */
.block-item--tools {
  height: 300px;
  width: 300px;
  background: lightblue;
  color: grey;
  float: left;
  margin: 1em;
  border: 1px solid white;
  transform: rotate(45deg);
  background-image: url(../../images/placeholder-image.jpg);
}

/* line 31, sass/ui/_scaffolding.scss */
.about {
  width: 100%;
  background-color: lightcoral;
  float: left;
}
/* line 33, sass/ui/_scaffolding.scss */
.about h1 {
  width: 100%;
  margin: 0 auto;
  color: white;
}

/* line 35, sass/ui/_scaffolding.scss */
.bitches {
  width: 100%;
  height: 50px;
  color: red;
  background-color: green;
}

/* line 38, sass/ui/_scaffolding.scss */
.sletjes {
  color: beige;
  font-size: 72px;
}

/*------------------------------------*\
    $GRID
\*------------------------------------*/
/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * GLOBAL
 * COLORS
 * LOAD FONTS
 * ICONS
 * HEADINGS
 * LINKS
 * ICONS
 * OTHER
*/
/*------------------------------------*\
    $GLOBAL
\*------------------------------------*/
/* line 23, sass/ui/_typography.scss */
html {
  font-weight: 300;
  font-style: normal;
}

/* line 29, sass/ui/_typography.scss */
* {
  font-family: "Helvetica Neue", sans-serif;
}

/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/*------------------------------------*\
    $LOAD FONTS
\*------------------------------------*/
/*------------------------------------*\
    $ICONS
\*------------------------------------*/
/* line 61, sass/ui/_typography.scss */
[data-icon]:before {
  content: attr(data-icon);
  text-transform: none;
  font-weight: normal;
  font-variant: normal;
  font-family: 'Icons';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
/*------------------------------------*\
    $LINKS
\*------------------------------------*/
/* line 88, sass/ui/_typography.scss */
a {
  color: #58585b;
}
/* line 92, sass/ui/_typography.scss */
a:hover {
  color: #d70014;
}

/*------------------------------------*\
    $OTHER
\*------------------------------------*/
/* line 104, sass/ui/_typography.scss */
strong,
.bold {
  font-weight: bold;
}

/* line 106, sass/ui/_typography.scss */
em {
  font-style: italic;
}

/* line 108, sass/ui/_typography.scss */
.no-underline {
  text-decoration: none;
}

/* line 110, sass/ui/_typography.scss */
::selection {
  background: #d70014;
  color: white;
}

/* line 114, sass/ui/_typography.scss */
::-moz-selection {
  background: #d70014;
  color: white;
}

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * TEXT
 * BACKGROUND
 * BORDERS
 * BLOCKS
*/
/*------------------------------------*\
    $TEXT
\*------------------------------------*/
/* line 19, sass/ui/_color.scss */
body {
  color: #808284;
}

/* line 22, sass/ui/_color.scss */
.white {
  color: white;
}

/* line 23, sass/ui/_color.scss */
.gray1 {
  color: #f7f7f7;
}

/* line 24, sass/ui/_color.scss */
.gray2 {
  color: #eeeeee;
}

/* line 25, sass/ui/_color.scss */
.gray3 {
  color: #d8d8d8;
}

/* line 26, sass/ui/_color.scss */
.gray4 {
  color: #9a9ea1;
}

/* line 27, sass/ui/_color.scss */
.gray5 {
  color: #808284;
}

/* line 28, sass/ui/_color.scss */
.gray6 {
  color: #58585b;
}

/* line 29, sass/ui/_color.scss */
.black {
  color: black;
}

/* line 33, sass/ui/_color.scss */
.color-twitter,
.hover-color-twitter:hover {
  color: #63cdf7;
}

/* line 36, sass/ui/_color.scss */
.color-linkedin,
.hover-color-linkedin:hover {
  color: #00659b;
}

/* line 39, sass/ui/_color.scss */
.color-facebook,
.hover-color-facebook:hover {
  color: #3b5895;
}

/* line 42, sass/ui/_color.scss */
.color-google,
.hover-color-google:hover {
  color: #ff0017;
}

/* line 45, sass/ui/_color.scss */
.color-mail,
.hover-color-mail:hover {
  color: #6cba16;
}

/* line 50, sass/ui/_color.scss */
.color1,
.hover-color1:hover,
.hover-color1.active {
  color: #d70014 !important;
}

/* line 54, sass/ui/_color.scss */
.color2,
.hover-color2:hover,
.hover-color2.active {
  color: #2f7dc4 !important;
}

/* line 58, sass/ui/_color.scss */
.color3,
.hover-color3:hover,
.hover-color3.active {
  color: #6cba16 !important;
}

/* line 62, sass/ui/_color.scss */
.color4,
.hover-color4:hover,
.hover-color4.active {
  color: #ffa501 !important;
}

/* line 66, sass/ui/_color.scss */
.color5,
.hover-color5:hover,
.hover-color5.active {
  color: #8a2ca1 !important;
}

/*------------------------------------*\
    $BACKGROUND
\*------------------------------------*/
/* line 76, sass/ui/_color.scss */
.bg-white {
  background-color: white;
}

/* line 77, sass/ui/_color.scss */
.bg-gray1 {
  background-color: #f7f7f7;
}

/* line 78, sass/ui/_color.scss */
.bg-gray2 {
  background-color: #eeeeee;
}

/* line 79, sass/ui/_color.scss */
.bg-gray3 {
  background-color: #d8d8d8;
}

/* line 80, sass/ui/_color.scss */
.bg-gray4 {
  background-color: #9a9ea1;
}

/* line 81, sass/ui/_color.scss */
.bg-gray5 {
  background-color: #808284;
}

/* line 82, sass/ui/_color.scss */
.bg-gray6 {
  background-color: #58585b;
}

/* line 83, sass/ui/_color.scss */
.bg-black {
  background-color: black;
}

/* line 85, sass/ui/_color.scss */
.bg-color1 {
  background-color: #d70014;
}

/* line 86, sass/ui/_color.scss */
.bg-color2 {
  background-color: #2f7dc4;
}

/* line 87, sass/ui/_color.scss */
.bg-color3 {
  background-color: #6cba16;
}

/* line 88, sass/ui/_color.scss */
.bg-color4 {
  background-color: #ffa501;
}

/* line 89, sass/ui/_color.scss */
.bg-color5 {
  background-color: #8a2ca1;
}

/* line 100, sass/ui/_color.scss */
.bg-gray4,
.bg-gray5,
.bg-gray6,
.bg-black,
.bg-color1,
.bg-color2,
.bg-color3,
.bg-color4,
.bg-color5 {
  color: white;
}

/*------------------------------------*\
    $BORDERS
\*------------------------------------*/
/* line 112, sass/ui/_color.scss */
.border-color1 {
  border-color: #d70014;
}

/* line 113, sass/ui/_color.scss */
.border-color2 {
  border-color: #2f7dc4;
}

/* line 114, sass/ui/_color.scss */
.border-color3 {
  border-color: #6cba16;
}

/* line 115, sass/ui/_color.scss */
.border-color4 {
  border-color: #ffa501;
}

/* line 117, sass/ui/_color.scss */
.border-none {
  border: none !important;
}

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * LOGO
*/
/*------------------------------------*\
    $LOGO
\*------------------------------------*/
/* line 15, sass/ui/_header.scss */
.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background-color: #C3C3C3;
}
@media (max-width: 48em) {
  /* line 15, sass/ui/_header.scss */
  .header {
    height: 460px;
    width: 100%;
  }
}

/* line 19, sass/ui/_header.scss */
.header__bg {
  position: relative;
  top: 25%;
  width: 56%;
  height: 50%;
  margin: 0 20%;
  background-color: black;
}
@media (max-width: 48em) {
  /* line 19, sass/ui/_header.scss */
  .header__bg {
    position: relative;
    top: 60px;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

/* line 23, sass/ui/_header.scss */
.header__brand {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-image: url(../../../images/placeholder-1.png);
  background-repeat: no-repeat;
}

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * NAV PRIMARY
 * NAV MOBILE
*/
/*------------------------------------*\
    $NAV PRIMARY
\*------------------------------------*/
/* line 17, sass/ui/_navs.scss */
.nav {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 125px;
  height: 100%;
  background-color: white;
  box-shadow: 1px 1px 5px grey;
}
@media (max-width: 48em) {
  /* line 17, sass/ui/_navs.scss */
  .nav {
    opacity: 0.75;
  }
  /* line 20, sass/ui/_navs.scss */
  .nav:hover {
    opacity: 1;
  }
  /* line 21, sass/ui/_navs.scss */
  .nav .nav__button {
    left: 10px;
  }
  /* line 22, sass/ui/_navs.scss */
  .nav ul {
    display: none;
    margin: 0;
  }
  /* line 23, sass/ui/_navs.scss */
  .nav ul li {
    width: 100%;
  }
}
/* line 26, sass/ui/_navs.scss */
.nav ul {
  position: relative;
  width: 50%;
  margin: 100px 0;
  padding: 0px 15px;
  height: 100%;
}
/* line 27, sass/ui/_navs.scss */
.nav li {
  float: left;
  height: 60px;
  width: 100px;
  list-style-type: none;
  padding: 0 20px;
  line-height: 55px;
}
/* line 28, sass/ui/_navs.scss */
.nav li:hover {
  background-color: grey;
  color: white;
}
/* line 29, sass/ui/_navs.scss */
.nav li a {
  display: block;
  height: 60px;
  width: 100%;
  text-decoration: none;
}
/* line 30, sass/ui/_navs.scss */
.nav li a:hover {
  color: white;
}

/* line 34, sass/ui/_navs.scss */
.nav__button {
  position: absolute;
  left: 15%;
  padding: 5px;
}

/* line 36, sass/ui/_navs.scss */
.nav__button-container {
  width: 100px;
  height: 50px;
  background: white;
}

/* line 38, sass/ui/_navs.scss */
.nav__button-bar {
  width: 65px;
  height: 10px;
  margin: 10px 0;
  background: grey;
}
/* line 39, sass/ui/_navs.scss */
.nav__button-bar:first-child {
  margin: 0 0 10px 0;
}

/*------------------------------------*\
    $NAV MOBILE
\*------------------------------------*/
/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * OVERRIDES
 * LABELS
 * INPUTS
 * ERRORS
 * SIZES
*/
/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/* line 23, sass/ui/_forms.scss */
input[type=text]:active,
input[type=text]:focus,
input[type=password]:active,
input[type=password]:focus {
  cursor: text;
  outline: none;
}

/*------------------------------------*\
    $LABELS
\*------------------------------------*/
/*------------------------------------*\
    $INPUTS
\*------------------------------------*/
/*------------------------------------*\ 
    $ERRORS    
\*------------------------------------*/
/* line 65, sass/ui/_forms.scss */
.field-with-errors {
  position: relative;
  display: inline-block;
}
/* line 70, sass/ui/_forms.scss */
.field-with-errors label,
.field-with-errors .label {
  color: #ffa501;
}
/* line 77, sass/ui/_forms.scss */
.field-with-errors input,
.field-with-errors .select2-container .select2-choice,
.field-with-errors .select2-container-multi .select2-choices {
  border-color: #ffa501 !important;
}

/*------------------------------------*\
    $SIZES
\*------------------------------------*/
/**
 * Small
 */
/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * BASE
 * SIZES
 * COLORS
    ^Colors
    ^Hover
*/
/*------------------------------------*\
    $BASE
\*------------------------------------*/
/*------------------------------------*\
    $SIZES
\*------------------------------------*/
/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/**
 * Colors
 */
/**
 * HOVERS
 */
/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * FOOTER
*/
/* line 9, sass/ui/_footer.scss */
.footer {
  float: left;
  height: 500px;
  width: 100%;
  background-color: lightgrey;
  color: grey;
}
/* line 11, sass/ui/_footer.scss */
.footer h1 {
  width: 100%;
  margin: 0 auto;
  color: white;
}

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
/*------------------------------------*\ 
    $CONTENTS    
\*------------------------------------*/
/**
 * SECTION TITLE
*/
