#debug{
	width: 100%;
}

#debug_data{
	min-height: 150px;
	min-width: 500px;
	padding: 1em 0;
}

.data_item{
	padding: .5em 0;
	clear: both;
}

#grid_coords{
	padding: .5em;
	max-width: 100%
}

#debugGrid{
	position: 	absolute;
	top: 		0;
	left:		0;
}

.grid_tile{
	float: 		left;
	width: 		19px;
	height: 	19px;
	border-right: 1px  solid #333;
	border-bottom: 1px  solid #333;
	background: rgba(255, 255, 255, 0.2);
}

.grid_tile:hover{
	background: rgba(255, 255, 255, 0.5);
}

.obstructed{
	background: rgba(255, 0, 0, 0.3);
}

.obstructed:hover{
	background: rgba(255, 0, 0, 0.8);
}

.dangerous{
	background: rgba(255, 255, 0, 0.3);
}

.dangerous:hover{
	background: rgba(255, 255, 0, 0.8);
}

.selected{
	background: rgba(0, 255, 0, 0.5);
}

.selected:hover{
	background: rgba(0, 255, 0, 0.8);
}

.tooltip{
	margin:		8px;
	padding:	8px;
	border:		1px solid blue;
	background-color: yellow;
	position: 	absolute;
	z-index: 	2;
}